.places{
    max-width: 984px;
    margin: 12px auto 0;
}

@media screen and (max-width: 1024px) {
    .places{
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .places{
        padding-left: 24px;
    }
}

@media screen and (max-width: 580px) {
    .places{
        padding-left: 0;
    }
}