.lead__title{
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    margin: 56px 0 0;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__title{
        margin-top: 48px;
    }
}

@media screen and (max-width: 740px) {
    .lead__title{
        font-size: 40px;
        line-height: 44px; /*значения для разрешения в 320пх, но переполняться title & subtitle начинают уже при 740пх*/
    }
}

