.place-right__paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 26px 0 0;
}

.place-right__paragraph:first-of-type{
   margin: 48px 0 0;
}

@media screen and (max-width: 1024px) {
    .place-right__paragraph{
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place-right__paragraph{
        font-size: 16px;
    }
}