.place-left{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

@media screen and (max-width: 1024px){
    .place-left{
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place-left{
        margin-right: 28px;
    }
}

@media screen and (max-width: 580px) {
    .place-left{
        margin-right: 0;
    }
}